uploads/Belajar N8N.json
{
  "name": "Belajar N8N",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Formulir Belajar Offline n8n dibimbing.id",
        "formDescription": "Formulir Belajar Offline n8n dibimbing.id",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nama",
              "fieldName": "Silahkan ketik Nama Kamu",
              "placeholder": "Nama Peserta",
              "requiredField": true
            },
            {
              "fieldLabel": "Nomor Telepon",
              "fieldName": "Silahkan Isi Nomor telepon kamu",
              "placeholder": "Nomot Telepon",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldName": "Silahkan Ketikan email kamu",
              "placeholder": "Alamat email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -128,
        0
      ],
      "id": "4eaf0caa-cb46-4452-a721-d4bccb954329",
      "name": "On form submission",
      "webhookId": "e2ad72fa-87ad-44e2-8bd9-ab32afae1c45"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dDhxUJtCo4BV3cWUBk9POPMlWY0GeCtEbo5Wrar09IY",
          "mode": "list",
          "cachedResultName": "Formulir Belajhar n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dDhxUJtCo4BV3cWUBk9POPMlWY0GeCtEbo5Wrar09IY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dDhxUJtCo4BV3cWUBk9POPMlWY0GeCtEbo5Wrar09IY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Silahkan ketik Nama Kamu": "={{ $json['Silahkan ketik Nama Kamu'] }}",
            "Silahkan Isi Nomor telepon kamu": "={{ $json['Silahkan Isi Nomor telepon kamu'] }}",
            "Silahkan Ketikan email kamu": "={{ $json['Silahkan Ketikan email kamu'] }}",
            "submittedAt": "={{ $json.submittedAt }}",
            "formMode": "={{ $json.formMode }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Silahkan ketik Nama Kamu",
              "displayName": "Silahkan ketik Nama Kamu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Silahkan Isi Nomor telepon kamu",
              "displayName": "Silahkan Isi Nomor telepon kamu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Silahkan Ketikan email kamu",
              "displayName": "Silahkan Ketikan email kamu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        96,
        0
      ],
      "id": "5482f99b-aa6e-4121-8c5a-58fa710f8534",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "N595QXYeE6LACasn",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "reesky.it@gmail.com",
        "subject": "=Halo ini email konfirmasi dari {{ $json['Silahkan ketik Nama Kamu'] }}",
        "emailType": "text",
        "message": "=Nama :  {{ $json['Silahkan ketik Nama Kamu'] }}\nNomor Telepon : {{ $json['Silahkan Isi Nomor telepon kamu'] }}\nEmail : {{ $json['Silahkan Ketikan email kamu'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "169c9252-f5a2-4387-92d5-b49d1de29f3a",
      "name": "Send a message",
      "webhookId": "128da516-1130-47aa-9ddd-ef46da7dc480",
      "credentials": {
        "gmailOAuth2": {
          "id": "l7zhDeJ6ZdB08Rng",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "bb22c460-5ef7-46b5-a83a-250f4f188dfd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bdc4db1c574d471af76bb8fe75b033edb6d8c048e685a97a916ef48ae2f4e77b"
  },
  "id": "ShkNEhl2rdvJMSxn",
  "tags": []
}